* {
    padding: 0%;
    margin: 0%;
    text-align: center;
    outline:  solid 1px;
    box-sizing: border-box;
}

.row {
    padding: 50px;
    width: 220px;
}

.container {
    padding: 30px;
}

.boton_redondeado {
    padding: 10px 40px;
    border-radius: 18px;
    cursor: pointer;
}

.boton_redondo {
    margin: 10px;
    width: 40px;
    height: 40px;
    padding: 10px 1px;
    background-color: rgb(197, 132, 12);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none; /*Quitar borde*/
}

.boton_cuadriculado {
    width: 100px;
    height: 40px;
    background-color: blue;
    color: rgb(250, 250, 250);
    cursor: pointer;
    /*Sombra ejeY ejeX difuminado color*/
    box-shadow: 8px 8px 8px rgb(43, 42, 42);
    border: none;
}