* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

button {
  margin: 20px;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
  outline: solid 1px rgb(104, 103, 103);
}

.ache {
  color: #008000;
  margin: 20px;
}

.p {
  font-weight: 700;
}