*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #DBD9D9;
    padding: 30px 5%;
    font-family: sans-serif;
}

.header {
    background-color: #228A15;
    color: white;
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 20px;
    width: 100%;
}

.header h1 {
    font-size: 40px;
    font-weight: 500;
}

.contenedor_principal {
    width: 100%
}

.barra_lateral {
    display: inline-block;
    width: 26%;
    height: 500px;
    background-color: #2B5CDB;
    padding: 40px 0;
    font-size: 16px;
    text-align: center;
}

.boton_amarillo {
    display: inline-block;
    background-color: #FEEE30;
    color: rgba(0, 0, 0, 0.706);
    padding: 12px 0;
    width: 70%;
    border: none;
    margin-bottom: 15px;
    border-radius: 25px;
    font-size: 20px;
}

.contenido {
    display: inline-block;
    width: 69%;
    margin-left: 4%;
    font-size: 16px;
    vertical-align: top;
}

.caja_roja {
    background-color: #E51E12;
    width: 100%;
    padding: 20px;
}

.cuadrado-amarillo {
    vertical-align: top;
    display: inline-block;
    background-color: #FEF404;
    width: 30%;
    height: 200px;
    margin: 0 1%;
}

.caja-morada {
    background-color: #8E2486;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
    margin-left: 1%;
    font-size: 16px;
}

.boton-saber-mas {
    display: inline-block;
    background-color: #e0e0e0;
    border: none;
    color: #8D2385;
    padding: 12px 40px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
}

.lineas {
    margin-top: 30px;
    padding-left: 15px;
}

.linea {
    background-color: #C2C1C6;
    height: 8px;
    margin-bottom: 20px;
    width: 95%;
}

.corta {
    width: 75%;
}
